@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --base-color: rgba(255, 255, 255, .1);
    --base-color-hover: rgba(255, 255, 255, .05);
    --accent-color: rgb(231, 151, 83);
    --accent-color-hover: rgba(231, 151, 83, .8);
    --text-color: #f7f7f7;
    --text-color-hover: rgba(247, 247, 247, .8);
    --border-color: rgba(217, 217, 217, .2);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    color: var(--text-color);
    font-family: Inter;
    background-color: #06071A;
    overflow-x: clip;
}

::selection {
    background-color: var(--accent-color);
    color: black;
}

.infoCard {
    position: sticky;
    top: 3.125rem;
    left: 3.125rem;
    margin-right: 1.25rem;
    padding: 0.9375rem 0.9375rem 0 0.9375rem;
    background-color: var(--base-color);
    width: 80%;
    max-width: 17.1875rem;
    height: fit-content;
    border-radius: 20px;
    border: 1px solid var(--border-color);
}

.infoCard hr {
    color: var(--border-color);
}

.infoCard h1 {
    font-size: 2rem;
    margin-bottom: 1.25rem;
    margin-top: 0.625rem;
}

.main {
    height: 100vh;
    width: 100vw;
    height: fit-content;
    display: flex;
    justify-content: center;
    padding: 3.125rem;
}

.mainInfo {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    max-width: 56.25rem;
    background-color: var(--base-color);
    border-radius: 20px;
    border: 1px solid var(--border-color);
    transition: height 500ms cubic-bezier(.12,.12,0,1);
    overflow: clip;
}

.contacts {
    display: flex;
    flex-direction: column;
    gap: 0.3125rem;
    padding: 1.25rem 0 0.9375rem 0;
}

.contact {
    padding: 0.625rem;
    border-radius: 5px;
    display: flex;
    gap: 0.625rem;
    align-items: center;
    transition: background-color 250ms ease;
}

#github {
    padding: 0.4375rem;
    gap: 0.3125rem;
}

.contact:hover {
    background-color: var(--base-color);
    cursor: pointer;
}

.navBar {
    position: absolute;
    top: 0rem;
    right: 0rem;
    z-index: 10;
    background-color: var(--base-color);
    height: 4.0625rem;
    width: 21.875rem;
    border-radius: 0 20px 0 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.25rem;
    gap: 3.125rem;
}

.navBarButtuns {
    background-color: transparent;
    border: 0;
    font-size: 1rem;
    color: var(--text-color);
    font-weight: bold;
    transition: color 250ms ease;
    cursor: pointer;
}

.navBarButtuns:hover {
    color: var(--text-color-hover);
}

.btnAccentColor {
    color: var(--accent-color);
}

.btnAccentColor:hover {
    color: var(--accent-color-hover);
}

.infos {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: fit-content;
    border-radius: 20px;
    padding: 1.875rem;
    transition: opacity 250ms ease;
}

.title {
    font-size: 1.5rem;
    position: relative;
    display: inline-block;
}

.title::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1.25rem;
    width: 40%;
    height: 0.3125rem;
    background-color: var(--accent-color);
    border-radius: 2px;
}

#informacaoSobre {
    margin-top: 2.5rem;
    font-weight: 200;
}

.infosCurriculo {
    display: flex;
    flex-direction: column;
    margin-top: 2.5rem;
    font-weight: 200;
    position: relative;
}

.detalhesCurriculo {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
}

.cursos {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 0.3125rem;
}
  
#detalhesCurriculoEducacao::before { /* Linha vertical */
    content: "";
    position: absolute;
    top: 2.5rem; /* Ajuste a posição vertical inicial da linha */
    left: 1.1875rem; /* Ajuste a posição horizontal da linha */
    height: 52%; /* Ajuste a altura da linha */
    width: 0.0625rem; /* Largura da linha */
    background-color: var(--base-color);
    z-index: 0;
}

#detalhesCurriculoExperiencia::before { /* Linha vertical */
    content: "";
    position: absolute;
    top: 2.5rem; /* Ajuste a posição vertical inicial da linha */
    left: 19px; /* Ajuste a posição horizontal da linha */
    height: 63%; /* Ajuste a altura da linha */
    width: 0.0625rem; /* Largura da linha */
    background-color: var(--base-color);
    z-index: 0;
}

.pontosCurriculo::before { /* Bolinha */
    content: "";
    position: absolute;
    left: 0.625rem;
    top: 50%;
    transform: translateY(-50%);
    width: 1.25rem;
    height: 1.25rem;
    background-color: var(--base-color);
    border-radius: 100%;
    z-index: 1;
}

.pontosCurriculo::after { /* Bolinha menor */
    content: "";
    position: absolute;
    left: 0.9375rem;
    top: 50%;
    transform: translateY(-50%);
    width: 0.625rem;
    height: 0.625rem;
    background-color: var(--accent-color);
    border-radius: 100%;
    z-index: 1;
}

.titulosCurriculo {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    margin-bottom: 1.875rem;
    gap: 1.25rem;
}

.infosCurriculo p {
    padding-left: 3.75rem;
}

.infosCurriculo ul {
    padding-left: 4.875rem;
}

.infosCurriculo ul li::marker {
    color: var(--accent-color);
}

.icon-box {
    position: relative;
    background: var(--base-color);
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.icon-box::before {
    content: "";
    position: absolute;
    inset: 0.125rem;
    border-radius: inherit;
    z-index: -1;
}

.icon-box img {
    width: 1.5rem;
    height: 1.5rem;
}

.pontosCurriculo {
    position: relative;
    padding-left: 3.75rem;
}

#downloadCV {
    display: flex;
    justify-content: flex-end;
    margin-top: 2.5rem;
}

.btnDownload {
    padding: 0.625rem;
    border-radius: 10px;
    border: 0;
    font-size: 1rem;
    background-color: var(--base-color);
    color: var(--accent-color);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btnDownload:hover {
    background-color: var(--base-color-hover);
}

.habilidadesContainer {
    position: relative;
    left: -1.875rem;
    display: flex;
    align-items: center;
    gap: 1.25rem;
    padding: 0 1.5625rem 0.625rem 1.5625rem;
    margin-top: 1.25rem;
    width: 107.2%;
    height: fit-content;
    overflow-x: auto;
    user-select: none;
    cursor: grab;
}

.habilidadesBox {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 9rem;
    width: 8.75rem;
    min-width: 8.75rem;
    padding: 1.25rem;
    border-radius: 20px;
    background-color: var(--base-color);
}

.habilidadesBox img {
    object-fit: cover;
}

#habilidadesH3 {
    margin-top: 0.9375rem;
    font-size: 1.5rem;
}
  

.habilidadesContainer::-webkit-scrollbar {
    height: 0.5rem;
}

.habilidadesContainer::-webkit-scrollbar-track {
    background: #333;
    border-radius: 4px;
}

.habilidadesContainer::-webkit-scrollbar-thumb {
    background: var(--accent-color);
    border-radius: 4px;
    height: 0.5rem;
}

.habilidadesContainer::-webkit-scrollbar-thumb:hover {
    background: var(--accent-color-hover);
}

.habilidadesContainer {
    scrollbar-width: thin;
    scrollbar-color: var(--accent-color) #333;
} 

.detalhesGithub {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2.5rem;
    width: 100%;
}

.detalhesGithub a {
    display: flex;
    justify-content: center;
}

.github-graph {
    width: 95%;
    height: auto;
}

#gitHubLanguages {
    width: 308px;
}

.gitDetails {
    display: flex;
    gap: 1.25rem;
    margin-bottom: 10px;
}

#repos {
    display: flex;
    margin-left: 1.25rem;
    flex-wrap: wrap;
    gap: 0.625rem;
    margin-top: 1.25rem;
}

.card {
    width: 48%;
    background-color: #1A1B27;
    padding: 0.625rem;
    border-radius: 8px;
}

.card a {
    color: #70A5FD;
    text-decoration: none;
}
  

.card a:visited {
    color: #70A5FD;
}
  

.card a:hover {
    color: #70A5FD;
    text-decoration: underline;
}

@media (max-width: 1000px) {
    .main {
        flex-direction: column;
        align-items: center;
        padding: 0.625rem 0.625rem 5rem 0.625rem;
    }

    .navBar {
        position: fixed;
        top: auto;
        bottom: 0;
        width: 100%;
        border-radius: 20px 20px 0 0;
        backdrop-filter: blur(20px);
    }

    .infoCard {
        position: static;
        margin: 0;
        margin-bottom: 1.25rem;
        width: 100%;
        max-width: 100%;
    }

    .contacts {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .name {
        text-align: center;
    }

    .infos {
        padding: 20px;
    }

    .habilidadesContainer {
        left: -20px;
        width: 112%;
    }

    .navBarButtuns {
        width: 4.6875rem;
    }

    #detalhesCurriculoEducacao::before { /* Linha vertical */
        content: "";
        position: absolute;
        top: 2.5rem; /* Ajuste a posição vertical inicial da linha */
        left: 1.1875rem; /* Ajuste a posição horizontal da linha */
        height: calc(100% - 13.125rem); /* Ajuste a altura da linha */
        width: 0.0625rem; /* Largura da linha */
        background-color: var(--base-color);
        z-index: 0;
    }
    
    #detalhesCurriculoExperiencia::before { /* Linha vertical */
        content: "";
        position: absolute;
        top: 2.5rem; /* Ajuste a posição vertical inicial da linha */
        left: 19px; /* Ajuste a posição horizontal da linha */
        height: calc(100% - 13.75rem); /* Ajuste a altura da linha */
        width: 0.0625rem; /* Largura da linha */
        background-color: var(--base-color);
        z-index: 0;
    }

    .gitDetails {
        flex-direction: column;
        gap: 0.625rem;
    }

    .gitDetails img {
        width: 100%;
    }
    
    #gitHubLanguages {
        width: 100%;
    }

    .github-graph {
        width: 100%;
    }

    #repos {
        flex-direction: column;
        margin-left: 0;
    }

    .card {
        width: 100%;
    }
}
