:root {
    --body-color: #06071A;
    --base-color: rgba(255, 255, 255, .1);
    --base-color-hover: rgba(255, 255, 255, .05);
    --accent-color: #f2511b;
    --accent-color-hover: #ee6233;
    --text-color: #f7f7f7;
    --text-color-hover: rgba(247, 247, 247, .8);
    --border-color: rgba(217, 217, 217, .2);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scrollbar-width: thin;
}

body {
    color: var(--text-color);
    font-family: Inter;
    background-color: var(--body-color);
    overflow-x: clip;
}

iframe {
    border: 0;
}

::selection {
    background-color: var(--accent-color);
    color: black;
}

.infoCard {
    position: sticky;
    top: 3.125rem;
    left: 3.125rem;
    margin-right: 1.25rem;
    padding: 0.9375rem 0.9375rem 0 0.9375rem;
    background-color: var(--base-color);
    width: 80%;
    max-width: 17.1875rem;
    height: fit-content;
    border-radius: 20px;
    border: 1px solid var(--border-color);
}

.infoCard hr {
    color: var(--border-color);
}

.infoCard h1 {
    font-size: 2rem;
    margin-bottom: 1.25rem;
    margin-top: 0.625rem;
}

.main {
    height: 100vh;
    width: 100vw;
    height: fit-content;
    display: flex;
    justify-content: center;
    padding: 3.125rem;
}

.mainInfo {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    max-width: 56.25rem;
    background-color: var(--base-color);
    border-radius: 20px;
    border: 1px solid var(--border-color);
    transition: height 500ms cubic-bezier(.12, .12, 0, 1);
    overflow: clip;
}

.contacts {
    display: flex;
    flex-direction: column;
    padding: 1.25rem 0 0.9375rem 0;
}

.contact {
    padding: 0.625rem;
    border-radius: 5px;
    display: flex;
    gap: 0.625rem;
    align-items: center;
    transition: background-color 250ms ease;
}

.contact:hover {
    background-color: var(--base-color);
    cursor: pointer;
}

.smallLeftPadding {
    padding-left: 7px;
}

.navBar {
    position: absolute;
    top: 0rem;
    right: 0rem;
    z-index: 10;
    background-color: var(--base-color);
    height: 4.0625rem;
    width: 21.875rem;
    border-radius: 0 20px 0 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.25rem;
    gap: 3.125rem;
}

.navBarButtuns {
    background-color: transparent;
    border: 0;
    font-size: 1rem;
    color: var(--text-color);
    font-weight: bold;
    transition: color 250ms ease;
    cursor: pointer;
}

.navBarButtuns:hover {
    color: var(--text-color-hover);
}

.btnAccentColor {
    color: var(--accent-color);
}

.btnAccentColor:hover {
    color: var(--accent-color-hover);
}

.infos {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: fit-content;
    border-radius: 20px;
    padding: 1.875rem;
    transition: opacity 250ms ease;
}

.title {
    font-size: 1.5rem;
    position: relative;
    display: inline-block;
}

.title::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1.25rem;
    width: 40%;
    height: 0.3125rem;
    background-color: var(--accent-color);
    border-radius: 2px;
}

#informacaoSobre {
    margin-top: 2.5rem;
    font-weight: 300;
}

.infosCurriculo {
    display: flex;
    flex-direction: column;
    margin-top: 2.5rem;
    font-weight: 300;
    position: relative;
}

.detalhesCurriculo {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
}

.cursos {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 0.3125rem;
}

#detalhesCurriculoEducacao::before {
    content: "";
    position: absolute;
    top: 2.5rem;
    left: 1.1875rem;
    height: 52%;
    width: 0.0625rem;
    background-color: var(--base-color);
    z-index: 0;
}

#detalhesCurriculoExperiencia::before {
    content: "";
    position: absolute;
    top: 2.5rem;
    left: 1.1875rem;
    height: 63%;
    width: 0.0625rem;
    background-color: var(--base-color);
    z-index: 0;
}

.pontosCurriculo::before {
    content: "";
    position: absolute;
    left: 0.625rem;
    top: 50%;
    transform: translateY(-50%);
    width: 1.25rem;
    height: 1.25rem;
    background-color: var(--base-color);
    border-radius: 100%;
    z-index: 1;
}

.pontosCurriculo::after {
    content: "";
    position: absolute;
    left: 0.9375rem;
    top: 50%;
    transform: translateY(-50%);
    width: 0.625rem;
    height: 0.625rem;
    background-color: var(--accent-color);
    border-radius: 100%;
    z-index: 1;
}

.titulosCurriculo {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    margin-bottom: 1.875rem;
    gap: 1.25rem;
}

.infosCurriculo p {
    padding-left: 3.75rem;
}

.infosCurriculo ul {
    padding-left: 4.875rem;
}

.infosCurriculo ul li::marker {
    color: var(--accent-color);
}

.icon-box {
    position: relative;
    background: var(--base-color);
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.icon-box::before {
    content: "";
    position: absolute;
    inset: 0.125rem;
    border-radius: inherit;
    z-index: -1;
}

.icon-box img {
    width: 1.5rem;
    height: 1.5rem;
}

.pontosCurriculo {
    position: relative;
    padding-left: 3.75rem;
}

#downloadCV {
    display: flex;
    justify-content: flex-end;
    margin-top: 2.5rem;
}

.btnDownload {
    padding: 0.625rem;
    border-radius: 10px;
    border: 0;
    font-size: 1rem;
    background-color: var(--base-color);
    color: var(--text-color);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    view-transition-name: shared-curriculo-area;
}

.btnDownload:hover {
    background-color: var(--base-color-hover);
}

.curriculoLive {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    border-radius: 20px;
    z-index: 11;
    view-transition-name: shared-curriculo-area;
    display: none;
    width: 0;
    height: 0;
    opacity: 0;
    background-color: white;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    position: relative;
}

.curriculoLive.show {
    width: 90vw;
    max-width: 56.25rem;
    height: 90vh;
    max-height: 56.25rem;
    opacity: 1;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(6, 7, 26, .5);
    backdrop-filter: blur(2px);
    z-index: 10;
    display: none;
    opacity: 0;
    transition: opacity 0.3s ease-out;
}

.overlay.show {
    display: block;
    opacity: 1;
}

.close-button {
    position: absolute;
    top: 0.9375rem;
    right: 1.25rem;
    z-index: 15;
    background-color: var(--accent-color);
    color: white;
    border: none;
    border-radius: 50%;
    width: 2.5rem;
    height: 2.5rem;
    font-size: 1.5625rem;
    font-weight: bold;
    cursor: pointer;
    display: none;
    opacity: 0;
    transition: opacity 0.3s ease-out;
    display: flex;
    justify-content: center;
    align-items: center;
}

.close-button:hover {
    background-color: var(--accent-color-hover);
}

.close-button.show {
    display: flex;
    opacity: 1;
}

.download-button-modal {
    position: absolute;
    top: 4.0625rem;
    right: 1.25rem;
    z-index: 15;
    background-color: var(--accent-color);
    color: white;
    border: none;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    padding: 8;
    font-size: 0.9em;
    font-weight: bold;
    cursor: pointer;
    display: none;
    opacity: 0;
    transition: opacity 0.3s ease-out;
}

.download-button-modal:hover {
    background-color: var(--accent-color-hover);
}

.download-button-modal.show {
    display: inline-block;
    opacity: 1;
}

.curriculoLive {
    position: fixed;
}

.habilidadesContainer {
    position: relative;
    left: -1.875rem;
    display: flex;
    align-items: center;
    gap: 1.25rem;
    padding: 0 1.5625rem 0.625rem 1.5625rem;
    margin-top: 1.25rem;
    width: 107.2%;
    height: fit-content;
    overflow-x: auto;
    user-select: none;
    cursor: grab;
    scrollbar-width: thin;
}

.habilidadesBox {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 9rem;
    width: 8.75rem;
    min-width: 8.75rem;
    padding: 1.25rem;
    border-radius: 20px;
    background-color: var(--base-color);
}

.habilidadesBox img {
    object-fit: cover;
}

#habilidadesH3 {
    margin-top: 0.9375rem;
    font-size: 1.5rem;
}

.habilidadesContainer::-webkit-scrollbar {
    height: 0.5rem;
}

.habilidadesContainer::-webkit-scrollbar-track {
    background: #333;
    border-radius: 5px;
}

.habilidadesContainer::-webkit-scrollbar-thumb {
    background: var(--accent-color);
    border-radius: 5px;
    height: 0.5rem;
}

.habilidadesContainer::-webkit-scrollbar-thumb:hover {
    background: var(--accent-color-hover);
}

.habilidadesContainer {
    scrollbar-width: thin;
    scrollbar-color: var(--accent-color) #1f2031;
}

.detalhesGithub {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 3.125rem 0 0 0.3125rem;
    width: 100%;
}

.detalhesGithub>div {
    background-color: #1A1B27;
    border-radius: 15px;
    border: 1px solid var(--border-color);
    padding: 1rem;
    transition: transform 0.3s ease, box-shadow 0.3s ease, border-color 0.3s ease;
    width: 50.4375rem;
    display: flex;
    justify-content: center;
}

.detalhesGithub>div:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    border-color: var(--accent-color);
}

.detalhesGithub a {
    display: flex;
    justify-content: center;
    width: 100%;
}

.github-graph {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

#gitHubLanguages {
    width: 19.25rem;
}

#repos {
    display: flex;
    margin-left: 1.25rem;
    flex-wrap: wrap;
    gap: 1.25rem;
    margin-top: 1.25rem;
}

.card {
    width: 48%;
    background-color: #1A1B27;
    padding: 0.625rem;
    border-radius: 10px;
}

.card a {
    color: #70A5FD;
    text-decoration: none;
}

.card a:visited {
    color: #70A5FD;
}

.card a:hover {
    color: #70A5FD;
    text-decoration: underline;
}

.fade-in {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.fade-in.visible {
    opacity: 1;
    transform: translateY(0);
}

.projetosDestaque {
    margin-top: 1.875rem;
    margin-left: 1.25rem;
}

.destaquesContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 1.25rem;
    margin-top: 1.25rem;
}

.destaqueCard {
    background-color: #1A1B27;
    border-radius: 15px;
    overflow: hidden;
    width: 100%;
    max-width: 48%;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border: 1px solid var(--border-color);
    text-decoration: none;
    color: inherit;
    display: block;
}

.destaqueCard:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    border-color: var(--accent-color);
}

.destaqueCard h3 {
    font-size: 1.25rem;
}

.destaqueImg {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-bottom: 1px solid var(--border-color);
}

.destaqueInfo {
    padding: 1.25rem;
}

.destaqueInfo h3 {
    margin-bottom: 0.625rem;
    color: var(--accent-color);
}

.destaqueInfo p {
    font-size: 0.9rem;
    color: var(--text-color);
    margin-bottom: 1rem;
    line-height: 1.4;
    border-radius: 5px;
}

.subtitleDest {
    font-size: 1.5rem;
}

::view-transition-old(shared-curriculo-area) {
    animation: fade-out-shrink 0.2s cubic-bezier(.34, .88, .34, 1) forwards;
}

::view-transition-new(shared-curriculo-area) {
    animation: fade-in-grow 0.4s cubic-bezier(.34, .88, .34, 1) forwards;
}

@keyframes fade-out-shrink {
    from {
        opacity: 1;
        transform: scale(1);
    }

    to {
        opacity: 0;
    }
}

@keyframes fade-in-grow {
    from {
        opacity: 0;
        transform: scale(0.5);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

@media (max-width: 768px) {
    .destaqueCard {
        max-width: 100%;
    }

    .main {
        flex-direction: column;
        align-items: center;
        padding: 0.625rem 0.625rem 5rem 0.625rem;
    }

    .navBar {
        position: fixed;
        top: auto;
        bottom: 0;
        width: 100%;
        border-radius: 20px 20px 0 0;
        backdrop-filter: blur(20px);
    }

    .infoCard {
        position: static;
        margin: 0;
        margin-bottom: 1.25rem;
        width: 100%;
        max-width: 100%;
    }

    .contacts {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .name {
        text-align: center;
    }

    .infos {
        padding: 1.25rem;
    }

    .habilidadesContainer {
        left: -1.25rem;
        width: 112%;
    }

    .navBarButtuns {
        width: 4.6875rem;
    }

    #detalhesCurriculoEducacao::before {
        content: "";
        position: absolute;
        top: 2.5rem;
        left: 1.1875rem;
        height: calc(100% - 13.125rem);
        width: 0.0625rem;
        background-color: var(--base-color);
        z-index: 0;
    }

    #detalhesCurriculoExperiencia::before {
        content: "";
        position: absolute;
        top: 2.5rem;
        left: 1.1875rem;
        height: calc(100% - 13.75rem);
        width: 0.0625rem;
        background-color: var(--base-color);
        z-index: 0;
    }

    #gitHubLanguages {
        width: 100%;
    }

    .github-graph {
        width: 100%;
    }

    #repos {
        flex-direction: column;
        margin-left: 0;
    }

    .projetosDestaque {
        flex-direction: column;
        margin-left: 0;
    }

    .card {
        width: 100%;
    }

    .detalhesGithub {
        margin: 3.125rem 0 0 0;
    }

    .detalhesGithub>div {
        width: 100%;
    }
}
