:root {
    --body-color: #06071A;
    --base-color: rgba(255, 255, 255, .1);
    --base-color-hover: rgba(255, 255, 255, .05);
    --accent-color: #f2511b;
    --accent-color-hover: #ee6233;
    --text-color: #f7f7f7;
    --text-color-hover: rgba(247, 247, 247, .8);
    --border-color: rgba(217, 217, 217, .2);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-snap-type: y mandatory;
    overflow-x: hidden;
}

body {
    background-color: var(--body-color);
}

.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.snap-area {
    height: 100vh;
    width: 100%;
    scroll-snap-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.video-container {
    width: 57.9vw;
    filter: url(#ambilight);
    border-radius: 20px;
    overflow: clip;
}

.ambilight {
    width: 100%;
    aspect-ratio: 16 / 9;
    height: auto;
    border: none;
    display: block;
}