:root {
    --body-color: #06071A;
    --base-color: rgba(255, 255, 255, .1);
    --base-color-hover: rgba(255, 255, 255, .05);
    --accent-color: #f2511b;
    --accent-color-hover: #ee6233;
    --text-color: #f7f7f7;
    --text-color-hover: rgba(247, 247, 247, .8);
    --border-color: rgba(217, 217, 217, .2);
    --font-body: 'Inter', sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue';
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

html {
    scroll-snap-type: y mandatory;
    overflow-x: hidden;
}

body {
    background-color: var(--body-color);
    font-family: var(--font-body);
}

.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.snap-area {
    height: 100dvh;
    width: 100%;
    scroll-snap-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.video-container {
    width: 57.9vw;
    filter: url(#ambilight);
    border-radius: 20px;
    overflow: clip;
}

.ambilight {
    width: 100%;
    aspect-ratio: 16 / 9;
    height: auto;
    border: none;
    display: block;
}

.btnVoltar {
    position: fixed;
    top: 20px;
    left: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    width: 7.3125rem;
    height: 2.75rem;
    border-radius: 20px;
    border: 0;
    padding: 0.625rem 1.25rem;
    font-weight: bold;
    font-size: 1rem;
    cursor: pointer;
    z-index: 1;
    background-color: var(--base-color);
    color: var(--text-color);
    transition: background-color .5s cubic-bezier(.34,.88,.34,1);
}

.btnVoltar:hover {
    background-color: var(--base-color-hover);
}

.btnVoltar .arrow-back-icon {
    content: url('/imgs/arrow_back_white.webp');
}

.btnVoltar .seta-animada {
    width: 1.25rem;
    height: auto;
    transition: transform 0.3s cubic-bezier(.34,.88,.34,1);
}

.btnVoltar:hover .seta-animada {
    transform: translateX(-5px);
}

.input-control {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1000;
    display: flex;
    gap: 10px;
    background: rgba(0,0,0,0.7);
    padding: 10px;
    border-radius: 8px;
}

.input-control input {
    padding: 8px;
    border-radius: 4px;
    border: none;
    width: 250px;
    border: 1px solid transparent;
    transition: all .1s ease;
}

.input-control button {
    padding: 8px 15px;
    cursor: pointer;
    background-color: var(--accent-color);
    color: var(--text-color);
    border: none;
    border-radius: 4px;
    font-weight: bold;
}

.input-control input:focus {
    outline: none;
    border: 1px solid var(--accent-color);
}
