:root {
    --base-color: rgba(255, 255, 255, .1);
    --base-color-hover: rgba(255, 255, 255, .05);
    --accent-color: #f2511b;
    --accent-color-hover: #ee6233;
    --text-color: #f7f7f7;
    --text-color-hover: rgba(247, 247, 247, .8);
    --border-color: rgba(217, 217, 217, .2);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Open Sans;
}

body {
    background-color: #06071A;
}

.container {
    height: 100dvh;
    width: 100dvw;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

h1 {
    color: white;
    font-size: 40px;
    width: 80%;
    text-align: center;
}

.opcoes {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}

.opcoes textarea {
    width: 100%;
    border-radius: 12px;
    border: 1px solid #e0e0e0;
    padding: 20px;
}

button {
    padding: 10px;
    font-size: 20px;
    border-radius: 12px;
    border: 0;
    cursor: pointer;
    background-color: var(--accent-color);
    color: var(--text-color);
}

button:hover {
    background-color: var(--accent-color-hover);
}

textarea {
    background-color: var(--base-color);
    color: var(--text-color);
}

textarea::placeholder {
  color: var(--text-color);
  font-size: 1rem;
  font-weight: bold;
}

textarea:focus,
button:focus {
  outline: none;
}

.popupCard {
    position: relative;
    display: flex;
    height: fit-content;
    max-height: 80%;
    max-width: 80%;
    min-width: 24rem;
    flex-direction: column;
    align-items: flex-start;
    padding: 1.875rem;
    background-color: #1f2031;
    color: var(--text-color);
    border-radius: 28px;
    gap: 0.625rem;
    text-align: center;
    font-size: 1.25rem;
    z-index: 1;
    scale: .5;
    opacity: 0;
    filter: blur(50px);
    margin: 0.625rem;
    word-break: break-all;
    overflow-x: clip;
    overflow-y: auto;
}

.listalistaUm {
    height: 100%;
    width: 100%;
    overflow-y: auto;
    border: 1px solid #e0e0e0;
    border-radius: 12px;
    padding: 0.625rem;
}

#listaBackgroud {
    position: absolute;
    top: 0rem;
    left: 0rem;
    width: 100%;
    height: 100%;
}

#listaFormatadaPopup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100vw;
    height: 100dvh;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 9999;
    backdrop-filter: blur(2px);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
    transition: all 200ms cubic-bezier(.12,.12,0,1);

    @starting-style {
        opacity: 0;
    }
}

.formatarBTNS {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.formatarBTNSPopup {
    position: sticky;
    bottom: 0;
    left: 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.listas {
    display: flex;
    width: 100%;
    gap: 10px;
}

#listaFormatada table {
    width: 100%;
    border-collapse: collapse;
    font-size: 1rem;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

#listaFormatada th,
#listaFormatada td {
    padding: 12px 15px;
    text-align: left;
    vertical-align: middle;
}

#listaFormatada td:not(:first-child) {
  border-left: 1px solid var(--base-color);
}

th:first-child {
    border-radius: 15px 0 0 0;
}

th:last-child {
    border-radius: 0 15px 0 0;
}

#listaFormatada thead tr {
    background-color: var(--accent-color);
    border-radius: 28px 28px 0 0;
    color: var(--text-color);
    text-align: left;
    font-weight: bold;
}

#listaFormatada tbody tr:nth-of-type(even) {
    background-color: var(--base-color); /* Efeito "zebra" para facilitar a leitura */
}

@media (max-width: 1000px) {
    .listas {
        flex-direction: column;
    }

    textarea {
        height: 15rem;
    }
}
