:root {
    --body-color: #06071A;
    --base-color: rgba(255, 255, 255, .1);
    --base-color-hover: rgba(255, 255, 255, .05);
    --accent-color: #f2511b;
    --accent-color-hover: #ee6233;
    --text-color: #f7f7f7;
    --text-color-hover: rgba(247, 247, 247, .8);
    --border-color: rgba(217, 217, 217, .2);
    --popup-background-color: #1f2031;
    --font-body: 'Inter', sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue';
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

body {
    background-color: var(--body-color);
    font-family: var(--font-body);
}

.container {
    height: 100dvh;
    width: 100dvw;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

h1 {
    color: white;
    font-size: 40px;
    width: 80%;
    text-align: center;
}

.opcoes {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}

.opcoes textarea {
    width: 100%;
    border-radius: 10px;
    border: 1px solid var(--border-color);
    padding: 20px;
}

.opcoes textarea::placeholder {
    color: var(--border-color);
}

button {
    padding: 0.625rem;
    font-size: 1.25rem;
    border-radius: 10px;
    border: 0;
    cursor: pointer;
    background-color: var(--accent-color);
    color: var(--text-color);
}

button:hover {
    background-color: var(--accent-color-hover);
}

textarea {
    background-color: var(--base-color);
    color: var(--text-color);
}

textarea::placeholder {
  color: var(--text-color);
  font-size: 1rem;
  font-weight: bold;
}

textarea:focus,
button:focus {
  outline: none;
}

.popupCard {
    position: relative;
    display: flex;
    height: fit-content;
    max-height: 80%;
    max-width: 80%;
    min-width: 24rem;
    flex-direction: column;
    align-items: flex-start;
    padding: 1.875rem;
    background-color: var(--popup-background-color);
    color: var(--text-color);
    border-radius: 20px;
    gap: 0.625rem;
    text-align: center;
    font-size: 1.25rem;
    z-index: 1;
    scale: .5;
    opacity: 0;
    filter: blur(50px);
    margin: 0.625rem;
    word-break: break-all;
    overflow-x: clip;
    overflow-y: auto;
}

#listaBackgroud {
    position: absolute;
    top: 0rem;
    left: 0rem;
    width: 100%;
    height: 100%;
}

#listaFormatadaPopup {
    opacity: 0;
    pointer-events: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100dvw;
    height: 100dvh;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 9000;
    backdrop-filter: blur(2px);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 200ms cubic-bezier(.12,.12,0,1);
}

.formatarBTNS {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.formatarBTNSPopup {
    position: sticky;
    bottom: 0;
    left: 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.listas {
    display: flex;
    width: 100%;
    gap: 10px;
}

#listaFormatada table {
    width: 100%;
    border-collapse: collapse;
    font-size: 1rem;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

#listaFormatada th,
#listaFormatada td {
    padding: 12px 15px;
    text-align: left;
    vertical-align: middle;
}

#listaFormatada td:not(:first-child) {
  border-left: 1px solid var(--base-color);
}

th:first-child {
    border-radius: 15px 0 0 0;
}

th:last-child {
    border-radius: 0 15px 0 0;
}

td.copiada {
    background-color: var(--accent-color) !important;
}

td {
    transition: background-color 0.5s ease;
}

#tabelaResultados tbody td {
    cursor: pointer;
}

#listaFormatada thead tr {
    background-color: var(--accent-color);
    border-radius: 20px 20px 0 0;
    color: var(--text-color);
    text-align: left;
    font-weight: bold;
}

#listaFormatada tbody tr:nth-of-type(even) {
    background-color: var(--base-color);
}

#notificacao-copia {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translate(-50%, -100px);
    z-index: 9999;
    background-color: var(--accent-color);
    color: white;
    padding: 12px 24px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    font-family: sans-serif;
    font-size: 16px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, transform 0.3s ease;
}

#notificacao-copia.visivel {
    transform: translate(-50%, 0);
    opacity: 1;
    visibility: visible;
}

@media (max-width: 1000px) {
    .listas {
        flex-direction: column;
    }

    textarea {
        height: 15rem;
    }
}

.btnVoltar {
    position: fixed;
    top: 20px;
    left: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    width: 7.3125rem;
    height: 2.75rem;
    border-radius: 20px;
    border: 0;
    padding: 0.625rem 1.25rem;
    font-weight: bold;
    font-size: 1rem;
    cursor: pointer;
    z-index: 1;
    background-color: var(--base-color);
    color: var(--text-color);
    transition: background-color .5s cubic-bezier(.34,.88,.34,1);
}

.btnVoltar:hover {
    background-color: var(--base-color-hover);
}

.btnVoltar .arrow-back-icon {
    content: url('/imgs/arrow_back_white.webp');
}

.btnVoltar .seta-animada {
    width: 1.25rem;
    height: auto;
    transition: transform 0.3s cubic-bezier(.34,.88,.34,1);
}

.btnVoltar:hover .seta-animada {
    transform: translateX(-5px);
}
